.dropArea {
    padding:4px 4px 4px 10px;
    display:inline-block;
    color:white;
    margin-bottom: 4px;
    margin-left: 4px;
    border:1px dashed #ccc;
    min-height :50px;
    max-width: 120px;
}

