@media only screen and (min-width: 1024px) { 
    .lgSel {
        display:inline-block;
        margin-left: 20px;
    }

    .smSel {
        display: none;
    }
}



@media only screen and (max-width: 1023px) {
    .lgSel {
        display:none;
    }

    .smSel {
        display:block;
    }
}