@media only screen and (min-width: 1024px) {
    .ASideBar {
        min-width: 160px;
        padding: 0px 4px 0px 0px;
        background-color:rgb(31 41 55);
    }
}

@media only screen and (max-width: 1023px) {
    .ASideBar {
        width: 0px;
    }
}